.cart #mainNav {
  background: #212529 !important;
}
.cart h5 {
color: #1F2633;



}
.cart h1 {
  color: #fff;
  padding: 1rem 0;
  font-size: 60px;
}
.cart  {
  background-color: #B0C7BD;
}
 body {
  color: #1F2633;
}
